<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles/main.css">    
    <title>Add Word</title>
</head>
<body>
	<form action="#" th:action="@{/word/addw}" th:object="${word}" method="post" style="padding:30px">
			
		<div><textarea			
			th:field="*{wordx}" 
			id="wordx" 
			name="wordx" 
			rows="1" 
			cols="50" 
			placeholder="Word in Spanish"
			class="form-control"
			style="
			width:100%;
			border-radius: 15px;
			resize: none;
		"></textarea></div>				
		<div><span 	
			th:if="${#fields.hasErrors('wordx')}" 
			th:errors="*{wordx}"
			style="
			color: red;
		"></span></div>
		
		<br>
		
		<div><textarea 
			th:field="*{translation}"			
			id="translation" 
			name="translation"
 			rows="5" 
 			cols="5"
			placeholder="Translation and description in English"
			class="form-control"
			style="
			width:100%;
			border-radius: 15px;
			resize: none;			
		"></textarea></div>
			
		<br>
		
 		<div><textarea 
			th:field="*{frequencyNr}" 
			id="frequencyNr" 
			name="frequencyNr" 
			rows="1" 
			cols="50" 
			placeholder="Frequency number (optional, if known)"
			class="form-control"
			style="
			width:100%;
			border-radius: 15px;
			resize: none;				
		"></textarea></div>
		 
		<br>
		
		<div><input  
			type="submit" 
			value="Add word" 
			class="btn btn-info"
		   	style="		
	  		border: none;
			background-color: rgba(185, 220, 216, 1);
			width: 450px;
			display: block;
			filter: drop-shadow(3px 3px 3px grey);
			border-radius: 15px;
		"></div>
		
	</form>      -->
</body>
</html>