<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>
	Word list
</title>
<link rel="stylesheet" href="/styles/main.css">
</head>
<body>

<div 
	th:switch="${words}"
	style = "
	padding:30px; 
	background-color: rgba(255, 255, 255, 1);
	border-radius: 20px;
">
  <h2 th:case="null">No words yet!</h2>
           <div th:case="*">
            <h3 style= "color:rgba(80,80,80,1);">List of all words</h3>
			<br>	
			<p><a 
		    	type="button" 
		    	class="btn btn-info addmybtn" 
		    	href="/word/add"
		    >Add a new Word</a></p>
		    <br><br>
		    
		    <span th:if="${category != null}" th:text="${categorymsg}" style = "display: in-line;"></span>
		    
			<select class="form-select" onchange="window.location.href=this.value;" style = "display: in-line; border-radius: 15px;">
			
			    <option  
			    	th:value="@{/word/list}"  
			    	th:text= "'All'" 
			    	th:selected="${category}"
			    > </option>		    
			    <option 
				    th:each="cat : ${categories}" 
				    th:value="@{/word/filtered/{category}    (category=${cat})}"  
				    th:text= "${cat}"	
				    th:selected="${cat==category}"
			    > </option>
			</select>	
						
			<br>			    
			
            <table 
            	class = "table table-hover "
			>
<!--                <thead> -->
                    <tr style= "border-bottom: 1px solid #ddd; ">
                        <th style= "color:rgba(80,80,80,1); border-bottom: 1px solid #1e36a3;">Word</th>
               			<th style= "color:rgba(80,80,80,1); border-bottom: 1px solid #09948f;">Translation</th>
                        <th style= "color:rgba(80,80,80,1); border-bottom: 1px solid #c7352e;">Edit</th>
                        <th style= "color:rgba(80,80,80,1); border-bottom: 1px solid rgb(171, 171, 63);">Delete</th>
                    </tr>
<!--                 </thead> -->
             <tbody style = "border-radius: 15px;">
                <tr th:each="word : ${words}" style = "border-radius: 15px;">
          			<td><a class="href" th:href="@{/word/show/{id}(id=${word.id})}" th:text="${word.wordx}"> </a></td>
          			<td><a class="href" th:href="@{/word/show/{id}(id=${word.id})}" th:text="${word.translation}"> </a></td>       			
                   	<td><a class="href" th:href="@{/word/edit/{id}(id=${word.id})}">Edit</a></td>
                    <td><a class="href" th:href="@{/word/delete/{id}(id=${word.id})}">Delete</a></td>
                </tr>
            </tbody> 
        </table> 
    </div>    

</div> 
</body>
</html>
<!--     	style="		
  		border: none;
		background-color: rgba(185, 220, 216, 1);
		width: 450px;
		display: block;
		filter: drop-shadow(3px 3px 3px grey);
		border-radius: 15px;
    " -->