<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="/styles/main.css">

<title>Memas</title>
</head>

<body
	style="
	background-color: rgb(243, 243, 243); 
	display: grid;
    grid-template: 40px 10px 1fr/ 195px 10px 1fr 10px 430px;
    width: 100%;
    height: 100vh;
    padding: 15px;
">	

	<header th:insert="fragments/header_left.html" style="
		background-color: rgba(230, 230, 230, 0);
	  	width: auto;
		height: auto;
		padding: 0px;
		border-radius: 20px;
		grid-area: 1/1/2/2;
		display: flex;
		align-items: center
	"></header>
	
	<header
		id = headerSearch 
		th:insert="fragments/header_mid.html" 
		style="
		background-color: rgba(230, 230, 230, 0.65);
	  	width: auto;
		height: auto;
		border-radius: 20px;
		grid-area: 1/3/2/4;
		display: flex;
		justify-content: space-between;
	"></header>
	
	<header th:insert="fragments/header_right.html" style="
		background-color: rgba(230, 230, 230, 0);
	  	width: auto;
		height: auto;
		padding: 0px;
		border-radius: 20px;
		grid-area: 1/5/2/6;
	"></header>
	
	<aside th:insert="fragments/menu.html" style="
		background-color: rgba(230, 230, 230, 0);
	  	width: auto;
		height: auto;
		border-radius: 20px;
		grid-area: 3/1/4/2;
		display: flex;
		flex-direction: column;
  		gap: 25px; 
	"></aside>
	
	<article th:insert="word/update-word-fragment.html"  style="
		background-color: rgba(255, 255, 255, 1);
	  	width: auto;
		height: auto;
		border-radius: 20px;
		grid-area: 3/3/4/6;		
	"></article>

	

<script src = "aplikacija.js"> </script> 
</body>
</html>