<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="/styles/main.css">
<title>Insert title here</title>
</head>
<body>
	<br>
	<br>
	<br>
	<br>
	<br>


	<img th:src="@{/images/big-logo-color1.png}"
		alt="Logo image: white brain in blue pattern square, brand: memas: red and slogan: calculated way to learn"
		style="
		width: 450px;
		filter: drop-shadow(3px 3px 3px grey); 
		margin: auto;
		display: block;
	">
<!-- 	<button class="mybutton" id="test">mygtukas</button> -->
<!-- 	<button type="button" th:onclick="showAlert()">Show Alert</button> -->
	
<!--  	<script href = "/aplikacija.js"> </script>  -->
</body>
</html>