<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="/styles/main.css">

<title>Welcome to Memas!</title>
</head>
<body style="background-color: rgb(243, 243, 243); ">
	<br>
	<br>
	<div 
		style="
		background-color: rgba(255, 255, 255, 0.795);
	  	margin: auto;
		width: 500px;
		padding: 30px;
		border-radius: 25px;
		">

		<img th:src="@{/images/big-logo-color1.png}"
			alt="Logo image: white brain in blue pattern square, brand: memas: red and slogan: calculated way to learn"
			style="
			width: 450px;
			filter: drop-shadow(3px 3px 3px grey); 
			margin: auto;
			display: block;
		">
		<br>
		<form 
			name='f' 
			action="login" 
			method='POST' >			
			<tr><td><input 
				type='text' 
				name='username' 
				value=''
				placeholder="Username" 
				class="form-control"
				style="
				margin: auto;
				width: 450px;
				border-radius: 15px;
			"></td></tr>	
			<br>	
			<tr><td><input 
				type='password' 
				name='password'
				placeholder="Password" 
				class="form-control"
				style="
				margin: auto;
				width: 450px;
				border-radius: 15px;
			"/></td></tr>
			<br>	
			<tr><div><td><input 
				name="submit" 
				type="submit" 
				value="Login"
				class="btn btn-info addmybtn"
			/></td></div></tr>
			<br>
		</form>
		<div><button 						
			onclick="location.href='/registration';"
			class="btn btn-light addmybtnl"
			style="

		">Signup</button></div>
	</div>
</body>
</html>
<!-- 				style="
				border: none;
				background-color: rgba(185, 220, 216, 1);
				margin: auto;
				width: 450px;
				display: block;
				filter: drop-shadow(3px 3px 3px grey);
				border-radius: 15px;
			" -->