<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">

<title>Welcome to Memas!</title>
</head>
<body style="background-color: rgb(243, 243, 243); ">
	<br>
	<br>
	<div 
		style="
		background-color: rgba(255, 255, 255, 0.795);
	  	margin: auto;
		width: 500px;
		padding: 30px;
		border-radius: 25px;
		">

		<img th:src="@{/images/big-logo-color1.png}"
			alt="Logo image: white brain in blue pattern square, brand: memas: red and slogan: calculated way to learn"
			style="
			width: 450px;
			filter: drop-shadow(3px 3px 3px grey); 
			margin: auto;
			display: block;
		">
		<br>
		<form 
			action="/registration" 
			th:object="${user}" 
			method="POST" 
			enctype="utf8">
		    <div><input 
	        	th:field="*{username}"
	        	placeholder="User name"
	        	class="form-control"
				style="
				margin: auto;
				width: 450px;
				border-radius: 15px;
		    "/></div>
		    <br>
		    <div><input 
		    	th:field="*{name}" 
		    	placeholder="Full name"
		    	class="form-control"
				style="
				margin: auto;
				width: 450px;
				border-radius: 15px;
			"/></div>
			<br>
		    <div><input 
		    	type="password" 
		    	th:field="*{password}" 
		    	placeholder="Password"
		       	class="form-control"
				style="
				margin: auto;
				width: 450px;
				border-radius: 15px;
		   	"/></div> 
		   	<br>   
		    <button 
		    	type="submit" 
		    	th:text="#{label.form.submit}"
		    	class="btn btn-info"
				style="
				border: none;
				background-color: rgba(185, 220, 216, 1);
				margin: auto;
				width: 450px;
				display: block;
				filter: drop-shadow(3px 3px 3px grey);
				border-radius: 15px;
		    "></button>
		    <br>
		</form>
		<div><button 						
			onclick="location.href='/custom';"
			class="btn btn-light"
			style="
			margin: auto;
			width: 450px;
			display: block;
			filter: drop-shadow(3px 3px 3px grey);
			border-radius: 15px;
		">Sign in</button></div>
	</div>
</body>
</html>